<div class="row">
    <div class="col-6 m-auto shadow-lg p-0 bg-white">
        <div class="card m-auto">
            <div class="card-header">
                <h3>Please sign up as a HS student</h3>
            </div>
            <div class="card-body">

                <form [formGroup]='registerForm' (ngSubmit)="registerForm.valid && hsRegister()" autocomplete="off">

                    <app-text-input [formControl]='registerForm.controls["colUsername"]' 
                        [label]='"Username"' class="mb-2" ></app-text-input>    
                    <app-text-input [formControl]='registerForm.controls["firstName"]' 
                        [label]='"First Name"'></app-text-input>   
                    <app-text-input [formControl]='registerForm.controls["hsName"]' 
                        [label]='"High School"'></app-text-input>  
                        <div class="form-group">
                            <label class="control-label" style="margin-right: 10px;">Class Year: </label>
                            <label class="radio-inline">
                                <input type="radio" value='Freshman' formControlName="classYear"> Freshman
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value='Sophomore' formControlName="classYear" class="ml-2"> Sohomore
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value='Junior' formControlName="classYear" class="ml-2"> Junior
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value='Senior' formControlName="classYear" class="ml-2"> Senior
                            </label>
                        </div>      
                    <app-text-input [formControl]='registerForm.controls["hsLocation"]' 
                        [label]='"High School Location"'></app-text-input>   
                    <app-text-input [formControl]='registerForm.controls["password"]' 
                        [label]='"Password"'[type]='"password"'></app-text-input>    
                    <app-text-input [formControl]='registerForm.controls["confirmPassword"]' 
                        [label]='"Confirm Password"' [type]='"password"' ></app-text-input>    

                    <div class="row" *ngIf="validationErrors.length > 0" >
                        <ul class="text-danger">
                            <li *ngFor="let error of validationErrors">
                                {{error}}
                            </li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <button [disabled]='!registerForm.valid' type="submit" class="btn btn-primary mr-3">Register</button>
                        <button type="button" class="btn btn-secondary ml-1" (click)="cancel()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
               
              


                




                 
