<div class="row shadow" style="margin-left: 25px" *ngIf="colMember">
    <div class="col-4">
        <h2>Please edit your profile:</h2>
    </div>
    <div class="col-8">
        <div class="alert alert-info" *ngIf="editForm.dirty" >
            <strong>Information: </strong>You have made changes. Any unsaved changes will be lost.
        </div>
    </div>

    <div class="col-4">

        <div class="card">
            <img src="{{colMember.colUrl}}" alt="{{colMember.collegeName}}" class="card-img-top img-studthumbnail">
            <div class="card-body text-center">
                <div>
                    <p> <u><strong>-- {{colMember.collegeName}} --</strong></u>
                        <br>Location:<br>
                        <strong>{{colMember.collegeLocation}}</strong>
                        <br>Enrollment:<br>
                        <strong>{{colMember.collegeEnrollment}}</strong>
                        <br>Profile Last Updated:<br>
                        <strong>{{colMember.created | date: "MM/dd/yyyy"}}</strong>
                        <br>Date of Last Activity:<br>
                        <strong>{{colMember.lastActive | date: "MM/dd/yyyy"}}</strong>
                    </p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button [disabled]="!editForm.dirty" form="editForm" type="submit" class="btn btn-success mr-2">Save Changes</button>
                    <button routerLink='/collegedetail/{{colMember.colUsername}}' class="btn btn-primary">See
                        Profile</button>
                </div>
            </div>
        </div>
    </div>


    <div class="col-8">

        <tabset class="member-tabset">
            <tab heading='Edit Profile Content'>
                <!-- <form
                    #scrolMe
                    style="overflow: scroll; height: 500px; width: 450px;"
                    [scrollTop]="scrolMe.scrollHeight"
                    #editForm="ngForm" id="editForm" (ngSubmit)="updateColMember()"> -->

                    <form #editForm="ngForm" id="editForm" (ngSubmit)="updateColMember()"> 
                    
                    <h5 class="mt-1 mb-2"><strong><u>Card Information</u></strong></h5>
                <div class="form-inline mt-2">
                    <label for="collegeName"><strong>Name:</strong></label>
                    <input [(ngModel)]="colMember.collegeName" type="text" name="collegeName"
                        class="form-control mb-2 ml-2">
                </div>
                <div class="form-inline">
                    <label for="collegeLocation" mb-2><strong>Location:</strong></label>
                    <input [(ngModel)]="colMember.collegeLocation" type="text" name="collegeLocation"
                        class="form-control mb-2 ml-2" mb-2>
                </div>
                <div class="form-inline">
                    <label for="collegeName"><strong>Enrollment:</strong></label><br>
                    <input [(ngModel)]="colMember.collegeEnrollment" type="text" name="collegeEnrollment"
                        class="form-control mb-2 ml-2" mb-2>
                </div>

                <h5 class="mt-1 mb-2"><strong><u>Special Facts & Features</u></strong></h5>
                <p>
                    * yada yada yada<br>
                    * yada yada yada<br>
                    * yada yada yada</p>

                    <h5 class="mt-1 mb-2"><strong><u>Other Information</u></strong></h5>

                <label for="collegeDescription"><strong>College Description:</strong></label>
                <textarea [(ngModel)]="colMember.collegeDescription" name="collegeDescription" class="form-control mb-2"
                    rows="3"></textarea>
                <div class="form-inline">
                    <label for="tuition"><strong>Tuition:</strong></label>
                    <input [(ngModel)]="colMember.tuition" type="text" name="tuition" class="form-control mb-2 ml-2">
                </div>
                <div class="form-inline">
                    <label for="averageAid"><strong>Average Aid:</strong></label>
                    <input [(ngModel)]="colMember.averageAid" type="text" name="averageAid" class="form-control mb-2 ml-2">
                </div>
                <div class="form-inline">
                    <label for="netPay"><strong>Average Net Pay/:</strong></label>
                    <input [(ngModel)]="colMember.netPay" type="text" name="netPay" class="form-control mb-2 ml-2">
                </div>

                <div class="form-inline">
                    <label for="collegeWebsite"><strong>Website Address:</strong></label>
                    <input [(ngModel)]="colMember.collegeWebsite" type="text" name="collegeWebsite"
                        class="form-control mb-2 ml-2">
                </div>
                <div class="form-inline">
                    <label for="collegeVirtual"><strong>Virtual Tour:</strong></label>
                    <input [(ngModel)]="colMember.collegeVirtual" type="text" name="collegeVirtual"
                        class="form-control mb-2 ml-2">
                </div>

                <h5 class="mt-2"><strong><u>Contact Information</u></strong></h5>
                <p><strong>Admissions Representative</strong></p>
                <ng-container *ngIf="colMember.adminUrl">
                    <img src="{{colMember.adminUrl}}" alt="{{colMember.adminContact}}"
                        class="img-admin">
                    </ng-container>
                    <div class="form-inline">
                        <label for="adminContact"><strong>Name:</strong></label>
                        <input [(ngModel)]="colMember.adminContact" type="text" name="adminContact"
                            class="form-control mb-2 ml-2 mt-2">
                    </div>
                    <div class="form-inline">
                        <label for="adminTitle"><strong>Title:</strong></label>
                        <input [(ngModel)]="colMember.adminTitle" type="text" name="adminTitle"
                            class="form-control mb-2 ml-2">
                    </div>
                    <div class="form-inline">
                        <label for="collegeEmail"><strong>EmailAddress:</strong></label>
                        <input [(ngModel)]="colMember.collegeEmail" type="text" name="collegeEmail"
                            class="form-control mb-2 ml-2">
                    </div>

            </form>
            </tab>


            <tab heading='Edit Admissions Rep Photo'>
                <!-- <ngx-gallery [options]= "galleryOptions" [images]="galleryImages"
                    style="display: inline-block; margin-bottom: 20px;"></ngx-gallery> -->
            </tab>

            <tab heading='Edit Campus Photos'>
                <!-- <ngx-gallery [options]= "galleryOptions" [images]="galleryImages"
                    style="display: inline-block; margin-bottom: 20px;"></ngx-gallery> -->
                    <!-- <app-photo-editor [colMember]="colMember"></app-photo-editor> -->
            </tab>
        </tabset>
        </div>

