<div class="row">
    <div class="col-6 m-auto shadow-lg p-0 bg-white">
        <div class="card m-auto">
            <div class="card-header">
                <h3>Sign Up as a College admin</h3>
            </div>
            <div class="card-body">

                <form [formGroup]='registerForm' (ngSubmit)="registerForm.valid && collegeRegister()" autocomplete="off">

                    <app-text-input [formControl]='registerForm.controls["colUsername"]' 
                        [label]='"Username"' class="mb-2">
                    </app-text-input>
                    <app-text-input [formControl]='registerForm.controls["firstName"]' 
                        [label]='"First Name"'>
                    </app-text-input>
                    <app-text-input [formControl]='registerForm.controls["collegeName"]' 
                        [label]='"College Name"'>
                    </app-text-input>
                    <app-text-input [formControl]='registerForm.controls["collegeLocation"]' 
                        [label]='"College Location"'>
                    </app-text-input>
                    <app-text-input [formControl]='registerForm.controls["collegeEnrollment"]'
                        [label]='"College Enrollment"'>
                    </app-text-input>
                    <app-text-input [formControl]='registerForm.controls["password"]' [label]='"Password"'
                        [type]='"password"'>
                    </app-text-input>
                    <app-text-input [formControl]='registerForm.controls["confirmPassword"]'
                        [label]='"Confirm Password"' [type]='"password"'>
                    </app-text-input>

                    <div class="row" *ngIf="validationErrors.length > 0">
                        <ul class="text-danger">
                            <li *ngFor="let error of validationErrors">
                                {{error}}
                            </li>
                        </ul>
                    </div>

                     <div class="form-group">
                        <button [disabled]='!registerForm.valid' type="submit" class="btn btn-primary mr-3">Register</button>
                        <button type="button" class="btn btn-secondary ml-1" (click)="cancel()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>