<div class="row shadow" style="margin-left: 25px">
    <div class="col-4">
        
        <div class="card">
            <img src="{{colMember.colUrl}}" alt="{{colMember.collegeName}}" 
                class="card-img-top img-studthumbnail">
            <div class="card-body text-center">
                <div>
                    <p> <u><strong>-- {{colMember.collegeName}} --</strong></u>
                       <br>Location:<br>
                        <strong>{{colMember.collegeLocation}}</strong>
                        <br>Enrollment:<br>
                        <strong>{{colMember.collegeEnrollment}}</strong>
                        <br>Profile Last Updated:<br>
                        <strong>{{colMember.created | timeago}}</strong>
                        <br>Date of Last Activity:<br>
                        <strong>{{colMember.lastActive | timeago}}</strong>
                    </p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary mr-2">Possible Fit</button>
                    <button (click)="selectTab(3)"  class="btn btn-success">Message</button>
                </div>
            </div>
        </div>
        </div>            


<div class="col-8">

    <tabset class="member-tabset" #colMemberTabs>
        <tab heading='About {{colMember.collegeNickname}}' (selectTab)="onTabActivated($event)" >
            <h4><strong>{{colMember.collegeName}}</strong></h4>
            
            <p>{{colMember.collegeDescription}}</p>
            <h4>Special Facts and Features</h4>
            <p>
            * yada yada yada<br>
            * yada yada yada<br>
            * yada yada yada</p>
            <h4>Tuition and Financial Aid</h4>
            <p>
                ${{colMember.tuition | number}} -- Tuition<br>
                <u>${{colMember.averageAid | number}}</u> -- <u>Average tuition aid package</u><br>
                <strong>${{colMember.netPay | number}} -- Avgerage net tuition cost</strong><br>
            </p>
            <h4>{{colMember.collegeNickname}}'s Address</h4>
            <p>
                {{colMember.collegeStreet}}<br>
                {{colMember.collegeCity}}, {{colMember.collegeState}} {{colMember.collegeZip}}<br><br>
                <strong>{{colMember.collegeNickname}}'s Website:</strong> {{colMember.collegeWebsite}}<br>
                <strong>Virtual Tour of Campus:</strong> {{colMember.collegeVirtual}}
            </p>
        </tab>
        <tab heading='Contact Information' (selectTab)="onTabActivated($event)">
            <br>
            <h4>Who to Contact in Admissions</h4>
            <br>
            <ng-container *ngIf="colMember.adminUrl">
                <img src="{{colMember.adminUrl}}" alt="{{colMember.adminContact}}"
                    class="img-adminthumbnail">
                </ng-container>    
                <p>{{colMember.adminContact}}
                    <br>
                    {{colMember.adminTitle}}
                </p>
            
            <strong>Send {{colMember.adminContact}} an Email:</strong> {{colMember.collegeEmail}}
            <br>
            <strong>Or use the messaging service in the next panel.</strong>
        </tab>

        <tab heading='Campus Photos' (selectTab)="onTabActivated($event)">
            <ngx-gallery [options]= "galleryOptions" [images]="galleryImages" 
               style="display: inline-block; margin-bottom: 20px;"></ngx-gallery> 
       </tab>

        <tab heading='Messages' (selectTab)="onTabActivated($event)">
            <app-col-member-messages [messages]="messages" [colUsername]="colMember.colUsername"></app-col-member-messages>
        </tab>

    </tabset>
    </div>
